/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), Inter, Arial, sans-serif;
  font-variation-settings: "wght" var(--main-font-weight);
  padding-top: 100px;
  max-width: 700px;
  margin: 0 auto;
  background-image: var(--bg-image);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--accent-font);
  background-color: #fff;
  padding: clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem) 0;
  border: 2px solid var(--main-color);
  gap: 20px;
  text-transform: uppercase;
}

.header__logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.main {
  padding-top: 100px;
  display: flex;
  gap: 50px;
  flex-direction: column;
}

.card {
  border: 2px solid #000;
  background-color: var(--bg-color);
}

.card__title {
  font-size: 18px;
  padding: 4px 10px 6px;
  font-variation-settings: "wght" var(--header-weight);
  border-bottom: 2px solid var(--main-color);
}

.image {
  object-fit: cover;
  object-position: right;
  aspect-ratio: 1 / 1;
  width: 100%;
  height: auto;
  display: block;
}

.text__description {
  padding: 25px;
  gap: 27px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 117%;
  border-top: 2px solid var(--main-color);
}

.image__filter-saturation {
  filter: saturate(40%);
}

.image__filter-brightness {
  filter: brightness(200%);
}

.image__filter-sepia {
  filter: sepia(80%);
}

.image__filter-blur {
  filter: blur(0.5rem);
}

.image__section {
  position: relative;
}

.image__filter-grayscale {
  filter: grayscale(0.8);
}

.image__filter-invert {
  filter: invert(0.7);
}

.image__filter-hue-rotate-saturate {
  filter: hue-rotate(-90deg) saturate(30%);
}

.watermark {
  position: absolute;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 100%;
  color: var(--main-color);
  mix-blend-mode: hard-light;
  z-index: 2;
  opacity: 0.5;
  text-shadow:
    1px 0 var(--shadow-color),
    -1px 0 var(--shadow-color),
    0 1px var(--shadow-color),
    0 -1px var(--shadow-color);
  right: 13px;
  top: 25px;
}

@supports (
  (text-stroke: 1px var(--shadow-color)) or
    (-webkit-text-stroke: 1px var(--shadow-color))
) {

  .watermark {
    -webkit-text-stroke: 1px var(--shadow-color);
    text-stroke: 1px var(--shadow-color);
    text-shadow: none;
  }
}

.buttons__section {
  padding: 0 25px 25px;
  display: flex;
  justify-content: flex-end;
}

.card__like-button {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 90%;
  color: var(--main-color);
  padding: 12.5px 37px;
  background-color: transparent;
  border: 2px solid var(--main-color);
}

.button__text {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 90%;
  text-transform: uppercase;
}

.footer {
  display: flex;
  justify-content: center;
  padding-top: 54px;
  padding-bottom: 102px;
}

.save__button {
  border: 2px solid var(--main-color);
  padding: 15px 20px;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.floppy__svg-modal {
  width: 39px;
  height: 39px;
}

.floppy__svg {
  width: 21px;
  height: 21px;
}

.modal__window {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.dialog {
  border: 2px solid var(--main-color);
  padding: 30px;
  max-width: 353px;
}

.dialog[open] {
  display: flex;
  flex-direction: column;
}

.dialog__content {
  display: grid;
  gap: 20px;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.dialog__text {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  color: var(--main-color);
}

.floppy__svg_dialog {
  width: 90px;
  /* height: 39px; */
}

.dialog__button {
  background-color: transparent;
  width: 100%;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
  height: 38px;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.button {
  position: relative;
  color: var(--bg-color);
  background-color: var(--bg-color);
  overflow: hidden;
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0 0 var(--main-color);
  transition: box-shadow 0.3s ease;
}

.card__like-button::before,
.save__button:before,
.dialog__button:before {
  content: "";
  position: absolute;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  background-color: var(--main-color);
  inset: 0;
}

.card__like-button:hover::before,
.save__button:hover::before,
.dialog__button:hover::before {
  transform: translateX(0);
}

.button .floppy__svg-modal,
.button .floppy__svg {
  mix-blend-mode: difference;
}

.button .button__text {
  mix-blend-mode: difference;
}

.like-icon {
  width: 39px;
  height: 36px;
  color: var(--main-color);
  border: none;
}

.card__icon-button {
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
  outline: none;
}

.card__icon-button:focus {
  box-shadow: none;
}

.card__icon-button:focus-visible {
  border-color: var(--main-color);
}

.sparks {
  opacity: 0;
}

.card__icon-button .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.card__icon-button .core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

.card__icon-button:hover .main-body {
  fill: var(--contour-color);
  transition: fill 0.3s linear 0.05s;
}

.card__icon-button:hover .core {
  fill: var(--contour-color);
  transition: fill 0.3s linear 0.03s;
}

@media (width <=375px) {

  .save__button {
    flex-direction: column;
  }

  .floppy__svg {
    width: 28px;
    height: 28px;
  }

  .dialog {
    border: 2px solid var(--main-color);
    padding: 30px 42px;
    max-width: 343px;
  }
}
